.single-product-template {
  color: #333;
  width: 100%;
  padding: 20px;
  border: none;

  // Product Images Section
  .product-images {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 25px;

    // Main Image
    .main-image-container {
      width: 50%;
      min-height: 300px;
      margin-left: 15%;

      .main-image {
        width: 100%;
        padding: 5%;
        border: 1px solid #eee;
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        object-fit: cover;

        &:hover {
          padding: 5px;
          transform: scale(1.05);
        }
      }
    }

    // Thumbnails
    .thumbnail-images {
      display: flex;
      flex-direction: column;
      margin-top: 10px;

      .thumbnail {
        width: 120px;
        height: 100px;
        border: 1px solid #ddd;
        margin-bottom: 10px;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
          transform: scale(1.1);
          padding: 5px;
        }
      }
    }
  }

  // Related Products Section
  .related-products-section {
    .related-products-carousel {
      .product-carousel-template-1 {
        margin: 15px;

        &:hover {
          transform: scale(0.97);
        }
      }
    }
  }
}
