.admin-order-listing {
  .order-list-wrapper {
    background: #fff;
    border-radius: 14px;
    box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.12);
    padding: 1rem;
    overflow-x: auto;

    .order-list-header {
      display: flex;
      font-weight: 600;
      color: #495057;
      padding: 0.5rem 1rem;
      border-bottom: 1px solid #e9ecef;
      background: #f8f9fa;
      position: sticky;
      top: 0;
      z-index: 10;
        .actions {
          flex: 1.2;
        }
    }

    .order-list-body {
      max-height: 60vh; // scrollable body
      overflow-y: auto;
      padding-top: 0.5rem;
      

      .order-row {
        display: flex;
        align-items: center;
        background: #fff;
        margin-bottom: 0.7rem;
        padding: 0.8rem 1rem;
        border-radius: 12px;
        border-bottom: #ffc107 1px solid;
        box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.08);
        transition: all 0.2s ease;

        &:hover {
          transform: translateY(-2px);
          box-shadow: 6px 6px 18px rgba(0, 0, 0, 0.12);
        }
        .t-length {
          display: -webkit-box;
          -webkit-line-clamp: 3; /* number of lines */
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          }
        .col {
        //   flex: 1;
          text-align: center;
          color: #212529;
          font-size: 0.95rem;
          
        }
       

        .actions {
          flex: 1.2;
          display: flex;
          justify-content: center;
        }
      }
    }

    .no-orders {
      text-align: center;
      padding: 1rem;
      color: #6c757d;
      font-weight: 500;
    }
  }
  .order-list-header,
.order-row {
  display: flex;
  align-items: center;

  .hash { flex: 0 0 5%; }
  .id { flex: 0 0 20%; }
  .buyer { flex: 0 0 25%; }
  .total { flex: 0 0 10%; }
  .status { flex: 0 0 15%; }
  .date { flex: 0 0 25%; }

  .col {
    text-align: center;
    padding: 0 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
}
.order-expanded {
  background: #f8f9fa;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 8px;
  font-size: 0.9rem;
}