.sellers-listing{
    .seller-list-wrapper {
    background: #fff;
    border-radius: 14px;
    box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.12);
    padding: 1rem;
    overflow-x: auto;

    .seller-list-header {
      display: flex;
      font-weight: 600;
      color: #495057;
      padding: 0.5rem 1rem;
      border-bottom: 1px solid #e9ecef;
      background: #f8f9fa;
      position: sticky;
      top: 0;
      z-index: 10;

      .col {
        flex: 1;
        text-align: center;
      }
      

      .action {
        flex: 1.2;
      }
    }

    .seller-list-body {
      max-height: 60vh; // scrollable body
      overflow-y: auto;
      padding-top: 0.5rem;
      

      .seller-row {
        display: flex;
        align-items: center;
        background: #fff;
        margin-bottom: 0.7rem;
        padding: 0.8rem 1rem;
        border-radius: 12px;
        border-bottom: #ffc107 1px solid;
        box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.08);
        transition: all 0.2s ease;

        &:hover {
          transform: translateY(-2px);
          box-shadow: 6px 6px 18px rgba(0, 0, 0, 0.12);
        }
        
        .col {
          flex: 1;
          text-align: center;
          color: #212529;
          font-size: 0.95rem;
        }

        .actions {
          flex: 1.2;
          display: flex;
          justify-content: center;
        }
      }
    }
.no-sellers {
      text-align: center;
      padding: 1rem;
      color: #6c757d;
      font-weight: 500;
    }
  }
}