.seller-status-banner {
  border-radius: 8px;
  padding: 1.5rem;
  border-left: 4px solid currentColor;
  background-color: var(--clr-secondary);
  .banner-icon {
    flex-shrink: 0;
  }
  
  .alert-heading {
    font-size: 1.25rem;
    font-weight: 600;
  }
}