.dropdown-menu-dropdown {
  transform: none !important;
  left: 100% !important;
  display: flex !important;
  flex-direction: row !important;
}

.menu-dropdown {
  position: relative;
  width: 100%;
  font-size: 13px;
  line-height: 31px;
  padding: 1em;
  padding-right: 0;
}

.menu-heading + .menu-content {
  /* height: 0px; */
  /* opacity: 1; */
  display: none;
  position: absolute;
  opacity: 0;
  transition: all 0.5s;
  top: 0;
  left: calc(100% - 0.6em);
  background-color: #fff;
  z-index: 50;
}

.menu-heading:hover + .menu-content,
.menu-content:hover {
  display: flex;
  opacity: 1;
  box-shadow: -1px 2px 7.44px 0.56px rgba(0, 0, 0, 0.1);
  text-shadow: -1px 2px 7.44px rgba(0, 0, 0, 0.1);
  padding: 1.6em;
  gap: 2em;
}

.menu-content ul {
  list-style-type: none;
  padding: 0;
}

.dropdown-item:has(.menu-content)::after {
  font-family: "bootstrap-icons";
  content: "\F285";
  position: absolute;
  top: 50%;
  right: 0.5em;
  transform: translateY(-50%);
}

.menu-dropdown > .dropdown-item {
  position: relative;
}

.menu-title {
  background-color: var(--clr-primary);
  color: white;
}

.category-menu {
  border: 1px solid #e9e9e9;
}

.dropdown-item {
  display: flex;
  justify-content: space-between;
  padding-left: 0.5em;

  /* gap: 30px;
   */
}

.category-menu {
  /* max-width: 300px !important; */
}

.menu-heading {
  width: 100%;
}

.menu-content li {
  min-width: 100px;
}

.menu-content li:first-child {
  min-width: 100px;
  font-weight: 700;
}

.p-panel-toggler{
  color: #fff;
}

/*.category-menu .p-toggleable-content{*/
/*  position:absolute;*/
/*  z-index:100;*/
/*  width:100%;*/
/*}*/