.page-home {
  width: 100%;
  overflow-x: hidden;
}
.page-home .d-flex > * {
  min-width: 0;
}
.page-home .advertisement {
  /* width: 100px; */
  box-sizing: border-box;
  height: 50%;
  overflow: hidden;
}
.page-home .advertisement > img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.page-home .advertisement-cont {
  max-height: 55vh;
  padding-left: 1em;
}
.page-home .features {
  padding: 1.5em 1em;
  border: 1px solid var(--clr-border);
}
.page-home .features .image-box:not(:last-child):after {
  content: "";
  height: 80%;
  border-left: 1px solid var(--clr-border);
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.page-home .carousel-with-categories {
  position: relative;
}
.page-home .carousel-with-categories .carousel-categories {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  gap: 20px;
  border: 1px solid var(--clr-border);
  border-radius: 5em;
  overflow: hidden;
  z-index: 5;
}
.page-home .carousel-with-categories .carousel-categories > button.carousel-category {
  /* border: 1px solid var(--clr-border); */
  border-color: transparent;
  padding: 0.2em 1em;
  font-size: 14px;
  font-weight: 500;
  color: var(--clr-text);
  background-color: var(--clr-white);
}
.page-home .carousel-with-categories .carousel-categories > button.carousel-category:hover {
  cursor: pointer;
  color: var(--clr-primary);
}
.page-home .home-advertisement-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 767px) {
  .page-home .page-section,
  .page-home .page-section-inner {
    margin-top: 1.5em !important;
  }
  .page-home .advertisement-cont {
    flex-direction: row !important;
    width: 100% !important;
    max-width: 100% !important;
    gap: 1em !important;
  }
  .page-home .advertisement-cont > .advertisement {
    width: 100%;
    padding: 1em 0 !important;
    height: 100%;
  }
  .page-home .two-columns > div {
    flex-wrap: wrap !important;
  }
  .page-home .two-columns > div > div {
    max-width: 100% !important;
    width: 100% !important;
  }
  .page-home .home-reviews {
    display: none;
  }
  .page-home .features {
    flex-wrap: wrap !important;
    gap: 1.3em !important;
    align-items: center !important;
  }
  .page-home .features .image-box {
    width: 100% !important;
  }
  .page-home .features .image-box:not(:last-child):after {
    width: 100%;
    height: 1px;
  }
  .page-home .features .image-box .image {
    height: 100%;
    width: 40% !important;
  }
  .page-home .features .image-box .image img {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .page-home #general-categories {
    display: none;
  }
  .page-home .three-advertisement {
    display: flex !important;
    flex-wrap: wrap;
    gap: 1em !important;
  }
  .page-home .three-advertisement > div, .page-home .three-advertisement a {
    display: block !important;
    width: 100%;
    height: 100%;
    padding: 0 !important;
  }
}
@media screen and (max-width: 768px) {
  .page-home .page-section.two-columns > .d-flex {
    gap: 1em !important;
  }
}/*# sourceMappingURL=home.css.map */