.order-details-container {
    margin-top: 2rem;
  
    .order-title {
      text-align: center;
      margin-bottom: 2rem;
      h4 {
        font-family: 'Manrope', sans-serif;
        font-weight: 600;
        color: #4b5966;
      }
    }
  
    .address-info {
      font-family: 'Poppins', sans-serif;
  
      .address-info-card {
        border-radius: 10px;
        border: 1px solid #eee;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 1rem;
  
        ul {
          list-style: none;
          padding: 0;
  
          li {
            margin-bottom: 0.5rem;
  
            strong {
              font-size: 15px;
              font-weight: 600;
              color: #4b5966;
            }
  
            span {
              font-size: 1rem;
              color: #777;
              margin-left: 0.5rem;
            }
          }
        }
      }
    }
  
    .order-items {
      font-family: 'Poppins', sans-serif;
      max-width: 100%;
      .order-items-card {
        border-radius: 10px;
        border: none;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 1rem;
  
        .order-items-header {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          
  
          .back-button {
            background-color: #faca00 !important;
            color: #fff !important;
            border: none;
            padding: 8px 12px;
            font-size: 16px;
            transition: 0.3s ease;
  
            &:hover {
              background-color: #4b5966 !important;
              transform: scale(1.05);
            }
  
            i {
              color: #fff;
            }
          }
  
          h5 {
            font-family: 'Manrope', sans-serif;
            font-size: 18px;
            font-weight: 600;
            color: #4b5966;
            margin: 0 auto;
          }
        }
        .card-body {
          padding: 1rem;  
          width: 100%;
          overflow-x: auto;

        }
        .order-items-table {
          border-collapse: collapse;
          overflow-x: auto;
          min-width: 600px;
          width: 100%;
          thead {
            border-bottom: 3px solid #dee2e6;
            th {
              font-weight: 600;
              color: #4b5966;
              padding: 12px;
              text-align: left;
            }
          }
  
          tbody {
            tr {
              td {
                padding: 12px;
                text-align: center;
                vertical-align: middle;
                color: #777;
  
                span {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
  
                img {
                  border-radius: 5px;
                  width: 50px;
                }
              }
            }
          }
        }
      }
    }
  
    @media (max-width: 768px) {
      .address-info,
      .order-items {
        width: 100%;
        margin-bottom: 2rem;
      }
  
      .order-items-header {
        flex-direction: column;
        align-items: flex-start;
  
        h5 {
          margin-top: 1rem;
        }
      }
    }
  }
  