.title {
  font: 600 3.3rem/4rem "Poppins";
  color: var(--clr-primary);
}

.price-label {
  background-color: var(--clr-secondary);
  aspect-ratio: 1/1;
  width: 100px;
  border-radius: 50%;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--clr-white);
  position: absolute;
  bottom: 50px;
  left: calc(50% + 50px);
}
